@model SerExtraCore.Transactions.Pages.ConsignmentPendingReport.AccountStatementViewtData
@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}
<div id="headrow">
   @*  @Html.Raw((Authorization.UserDefinition as UserDefinition).ReportHeader) *@
    <h1 class="page-header" style="text-align:center"> SRI PALANI MURUGAN TRANSPORT</h1>
</div>
<section class="invoice">
    @*<div class="row">
            <div class="col-xs-12">
                <h2 class="page-header" style="text-align:center">
                    Account Statement<br />
                    From:@Model.aboutreport.FromDate.ToShortDateString() To:@Model.aboutreport.ToDate.ToShortDateString()
                    <small class="pull-right">Date: @DateTime.Now.ToShortDateString()</small>
                </h2>
            </div>
        </div>*@
    <div class="row">
        <div class="col-sm-8">
            <h2 class="page-header" style="text-align:center"> Pending Consignments</h2>
            @*@if (Model.aboutreport.Vehicle != null)
            {
                <h2 class="page-header" style="text-align:center">Ledger:@Model.aboutreport.Vehicle </h2>
            }*@

        </div>
        <div class="col-sm-4">
            Statement Period:
            @if (Model.aboutreport.FromDate != null)
            {
                <x> From: @((Model.aboutreport.FromDate??DateTime.Today).ToShortDateString())</x>
            }
            @if (Model.aboutreport.ToDate != null)
            {
                <x>   To: @((Model.aboutreport.ToDate??DateTime.Today).ToShortDateString()) </x>
            }
        </div>
    </div>
    <!-- info row -->
    <!-- /.row -->
    <!-- Table row -->
    <div>

        <table border="1" style="border-width:thin;border-color:gainsboro">
            <thead>
                <tr>
                    <th width="40px" style="text-align:center"><strong style="font-size:10px;font-style:normal">SlNo</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">Date</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">WayBillNo</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">JobNo</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">ClientJobNo</strong></th>
                    <th width="120px" style="text-align:center"><strong style="font-size:10px;font-style:normal">Shipper</strong></th>
                    <th width="120px" style="text-align:center"><strong style="font-size:10px;font-style:normal">Consignee</strong></th>
                    <th width="120px" style="text-align:center"><strong style="font-size:10px;font-style:normal">Billing</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">TotalAmount</strong></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var d in Model.Details)
                {
                    <tr>
                        <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.slno)</strong></td>
                        <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.Date.ToShortDateString())</strong></td>
                        <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.WayBillNo)</strong></td>
                        <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.JobNo)</strong></td>
                        <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.ClientJobNo)</strong></td>
                        <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.Shipper)</strong></td>
                        <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.Consignee)</strong></td>
                        <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.Billing)</strong></td>

                        <td style="text-align:right"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.TotalAmount)</strong></td>
                    </tr>
                }
                <tr>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>

                    <td style="text-align:right"><strong style="font-size:8px;font-style:normal;text-align:center">@Model.Details.Sum(i=>i.TotalAmount)</strong></td>
                </tr>


            </tbody>

        </table>
    </div>




    @*<div class="row">
            <div class="col-xs-6">

            </div>
             /.col
            <div class="col-xs-6">
                <p class="lead">Amount Due @(Model.Order.OrderDate.Value.AddDays(10).ToShortDateString())</p>

                @{
                    var subTotal = Model.Details.Sum(x => x.LineTotal ?? 0);
                }

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>$@subTotal.ToString("#,##0.00")</td>
                        </tr>
                        <tr>
                            <th>Tax (9.3%)</th>
                            <td>$@((subTotal * 0.093m).ToString("#,##0.00"))</td>
                        </tr>
                        <tr>
                            <th>Shipping:</th>
                            <td>$5.80</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>$@((subTotal * 1.093m).ToString("#,##0.00"))</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>*@
</section>
