@model SerExtraCore.Transactions.Pages.ProfitReport.ProfitReportViewtData
@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}
<div id="headrow">
    @Html.Raw((Authorization.UserDefinition as UserDefinition).ReportHeader)
</div>
<section>
    <style>
        p {
            text-align: center;
        }

        table {
            border: 1px solid black;
            width: 100%;
            font-size: 11px;
        }
        td {
            padding:5px;
        }
    </style>

    <p>Profit Report</p>

    @foreach (var header in Model.Header)
    {
     <table>
        <tr>
            <td><b>Inv No : @header.InvoiceNO</b></td>
            <td>Date : @header.InvoiceDate.ToLongDateString()</td>
        </tr>
     </table>

    <table>
        <tr style="background:#ccc !important">
            <td colspan="3" style="text-align:center">Charges</td>
        </tr>
            @foreach (var invchrge in header.InvCharges)
            {
                <tr>
                    <td style="width:70%">@invchrge.ChargeName</td>
                    <td style="text-align:right">@invchrge.TotalAmount</td>
                    <td style="width:15%"></td>
                </tr>
            }
        <tr>
            <td style="text-align:right"><b>Total</b></td>
            <td style="text-align:right"><b>@header.InvCharges.Sum(x => x.TotalAmount)</b></td>
            <td></td>
        </tr>
     </table>


    <table>
        <tr style="background:#ccc !important">
            <td colspan="3" style="text-align:center">Expense</td>
        </tr>
        @foreach (var exp in header.ConsExpense)
        {
    <tr>
        <td style="width:70%">@exp.CustomerName</td>
        <td style="text-align:right">@exp.Amount</td>
        <td style="width:15%"></td>
    </tr>
        }
        @foreach (var item in header.InvCharges.Where(x=> x.SupplierAmount>0))
        {
            
            <tr>
                <td style="width:70%">@item.ChargeName</td>
                <td style="text-align:right">@item.SupplierAmount</td>
                <td style="width:15%"></td>
            </tr>
        }
        <tr>
            <td style="text-align:right"><b>Total</b></td>
            @{
                var totalexp = @header.ConsExpense.Sum(x => x.Amount) + @header.InvCharges.Sum(x => x.SupplierAmount);
            }
            <td style="text-align:right"><b>@totalexp</b></td>
            <td></td>
        </tr>
    </table>
            <table>
                <tr style="text-align:center;background:#ccc !important">
                    @{ 
                        var profit = @header.InvCharges.Sum(x => x.TotalAmount) - @header.ConsExpense.Sum(x => x.Amount) - @header.InvCharges.Sum(x => x.SupplierAmount);
                    }
                    <td><b>Profit : @profit </b></td>
                </tr>
            </table>
            <br/>

                        }



    </section>
